.body{
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  background-color: black;
  
}
.logo-img{
  height: 30px;
}
.jumbotron{
  text-align: center;
  background-image: url(https://images6.alphacoders.com/549/549198.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  margin: 0 auto;
}
.jumbo-img{
  height: 300px;
}
.container {
margin-bottom: 20px;
margin: 0 auto;

}
.vertical-icon_img{
  height: 230px;
}

.footer{
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}
